<%- include("layout/header") %>
<h1>Welcome to admin page</h1>
<!-- <div class="container"> -->
    <div class="row my-4 mx-3 admin_b">
        <div class="col-lg-3 admin_b">
            <div class="center">
                <h3>LEHARI BRAND</h3>
            </div>
           <hr>
           <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard.html"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="profile.html"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="basic-table.html"
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Basic Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fontawesome.html"
                                aria-expanded="false">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                <span class="hide-menu">Icon</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="map-google.html"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Google Map</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="blank.html"
                                aria-expanded="false">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                                <span class="hide-menu">Blank Page</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Error 404</span>
                            </a>
                        </li>
                        <li class="text-center p-20 upgrade-btn">
                            <a href="https://www.wrappixel.com/templates/ampleadmin/"
                                class="btn d-grid btn-danger text-white" target="_blank">
                                Upgrade to Pro</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        </div>
        <div class="col-lg-9 admin_b">
            <% if(message) { %>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" area-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>    
            <div class="row mx-0 ">
                <div class="col-lg-3 my-2 a_eye">
                    <h2>Hello</h2>
                </div>
                <div class="col-lg-3 mx-3 my-2 a_eye">
                    <h2>Hello</h2>
                </div>
                <div class="col-lg-3 my-2 a_eye">
                    <h2>Hello</h2>
                </div>
            </div>
            <div class="table-responsive"> 
                <% if ( users != '') { %>
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="table-dark">
                                <td>Id</td>
                                <td>Team Name</td>
                                <td>Sponser-1</td>
                                <td>Sponser-2</td>
                                <td>Village</td>
                                <td>Captain</td>
                                <td>Phone</td>
                                <td>Image</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((row, index) => { %>                            
                                <tr class="align-middle">
                                    <td><%= index %></td>
                                    <td><%= row.tname %></td>
                                    <td><%= row.sp_1 %></td>
                                    <td><%= row.sp_2 %></td>
                                    <td><%= row.village %></td>
                                    <td><%= row.captain %></td>
                                    <td><%= row.phone %></td>
                                    <td><img src="<%= row.image %>" width="40" class="img-thumbnail"/></td>
                                    <td>
                                        <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i> </a>
                                        <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i> </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else{ %>
                    <h1 class="text-center text-secondary mt-5">
                        No User found in the database 
                    </h1>
                <% } %>
            </div>
        </div>
    </div>  
<!-- </div> -->